{% extends 'layouts/base.html' %}

{% block title %} Blog Dashboard {% endblock title %}

{% block stylesheets %}{% endblock stylesheets %}

{% block content %}

<div class="container mt-5">
    <div class="card mt-5">
        <div class="card-header d-flex justify-content-between align-items-center">
            <h3 class="mb-0">Blogs List</h3>
            <a href="{{ url_for('blog_blueprint.create') }}" class="btn btn-primary text-white">Create Blog</a>
        </div>
        <div class="table-responsive">
            <table class="table align-items-center table-flush">
                <thead class="thead-light">
                    <tr>
                        <th>ID</th>
                        <th>Title</th>
                        <th>Slug</th>
                        <th>Description</th>
                        <th>Category</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody id="blogsTable">
                    {% for blog in blogs %}
                    <tr>
                        <td>{{ blog.id }}</td>
                        <td>{{ blog.title }}</td>
                        <td>{{ blog.slug }}</td>
                        <td>{{ blog.description }}</td>
                        <td>{{ blog.category.name }}</td>
                        <td>
                            <a href="{{ url_for('blog_blueprint.view', blog_id=blog.id, mode='view') }}"
                                class="btn btn-info btn-sm">View</a>
                            <a href="{{ url_for('blog_blueprint.view', blog_id=blog.id, mode='edit') }}"
                                class="btn btn-warning btn-sm">Edit</a>
                            <a href="{{ url_for('blog_blueprint.delete', blog_id=blog.id) }}"
                                class="btn btn-danger btn-sm">Delete</a>
                        </td>
                    </tr>
                    {% endfor %}
                    {% if blogs|length == 0 %}
                    <tr>
                        <td colspan="6" class="text-center">No blogs found</td>
                    </tr>
                    {% endif %}
                </tbody>
            </table>
        </div>


       
        <div class="card-footer d-flex justify-content-between align-items-center">
            <a href="?page={{ pagination.prev_num }}" class="btn btn-secondary btn-sm">Previous</a>
            <span id="paginationInfo">
                <!-- Pagination info will be dynamically updated here -->
                <span>Page {{ pagination.page }} of {{ pagination.pages }}</span> 
            </span>
            <a href="?page={{ pagination.next_num }}" class="btn btn-secondary btn-sm" class="btn btn-secondary btn-sm" >Next</a>
        </div>
    </div>
</div>

{% endblock content %}

{% block javascripts %}
<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Pagination logic here
    });
</script>
{% endblock javascripts %}